@import "tailwindcss";

:root {
  --bg: #ffffff;
  --text: #111827;
  --border: rgba(0,0,0,0.06);
}

body {
  background-color: var(--bg);
  color: var(--text);
}

::selection {
  background: #ABD5E2;
  color: #104911;
}