@import "tailwindcss";

:root {
  --bg: #ffffff;
  --text: #111827;
  --border: rgba(0,0,0,0.06);
}

.dark {
  --bg: #0f172a;
  --text: #e5e7eb;
  --border: rgba(255,255,255,0.10);
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

::selection {
  background: #ABD5E2;
  color: #104911;
}